<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">My name is Rishabh Khatri</p>
  <hr class="my-4">
  <p>This website is still under construction please check back in a few days.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="https://github.com/RishabhKhatri/My-Website" target="_blank" role="button">Website Code available here <i class="fab fa-github-square fa-lg"></i></a>
  </p>
</div>
